.Jobs {

  &__Title,
  &__Subtitle {
    display: block;
    text-align: center;
  }

  &__CreateButton.p-element {
    display: block;
    margin-bottom: 20px !important;
    text-align: center;
  }

  &__List {
    margin: 0;
    padding: 0;
    list-style: none;

    &Item {
      cursor: pointer;
      padding: 20px 5px;
      border: 4px solid black;
      margin-bottom: 20px;
      text-align: center;
    }
  }
}