.Jobs {

  &__Title {
    display: block;
    text-align: center;
  }

  &__CreateButton.p-element {
    display: block;
    margin-bottom: 20px !important;
    text-align: center;
  }

  &__List {
    margin: 0;
    padding: 0;
    list-style: none;

    &Item {
      padding: 20px 5px;
      background-color: #797777;
      margin-bottom: 20px;
      text-align: center;
      transition: box-shadow .3s;
      &:hover {
        box-shadow: 0 0 11px rgba(33,33,33,.5);
      }
      .p-element {
        margin: 0 5px!important;
      }
    }
  }
}
