<div class="Job" *ngIf="(job$ | async) as job">
  <h2>Create/Edit Job</h2>
  <div class="Job__Content">
    <input [disabled]="!!data" type="text" [(ngModel)]="job.job_name">
    <div class="wrapper">
      <textarea id="editing" spellcheck="false" [(ngModel)]="job.test_case"></textarea>
      <textarea id="highlighting" highlight-js [lang]="'robot'" [(ngModel)]="job.test_case"></textarea>
    </div>
  </div>
  <div class="Job__Footer">
    <p-button (click)="submit(job)" label="Submit"></p-button>
  </div>
</div>
