/* You can add global styles to this file, and also import other style files */
body {
  width: 40%;
  display: block;
  margin: 0 auto;
  background: darkgray;
}

.outer-wrapper {
  overflow: scroll;
  max-height: 500px;
  max-width: 1100px;
}


.inner-wrapper {
  position: relative;
  min-width: 1100px;
  min-height: 500px;
}

#editing, pre.robot {
  /* Both elements need the same text and space styling so they are directly on top of each other */
  margin-top: 10px;
  padding-top: 10px;
  border: 0;
}

#editing, pre.robot, pre.robot * {
  /* Also add text styles to highlighting tokens */
  font-size: 10pt;
  font-family: monospace;
  line-height: 20pt;
}

/* Move the textarea in front of the result */
#editing {
  z-index: 1;
  color: transparent;
  background: transparent;
  caret-color: white; /* Or choose your favorite color */
  white-space: nowrap;
  resize: none;

  position: absolute;
  top: -10px;
  left: 0;
  height: calc(100%);
  overflow:hidden;
}

pre.robot {
  z-index: 0;
  min-height:500px
}
